@mixin flex($jc: center, $ai: center) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
	@content;
}

@mixin container($jc: center, $ai: center) {
	@include flex($jc: $jc, $ai: $ai);
	margin: 0 auto;
	@content;
	width: 100%;
	height: inherit;
	@media screen and (min-width: 1024px) {
		max-width: 1024px;
	}
}

@mixin miw-425 {
	@media screen and (min-width: 425px) {
		@content;
	}
}

@mixin maw-768 {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin miw-768 {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin maw-1010 {
	@media screen and (max-width: 1010px) {
		@content;
	}
}

@mixin miw-1024 {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin layout-1($bg-color, $flex-direction: row) {
	background-color: $bg-color;

	&-left {
		text-align: center;
		@include miw-1024 {
			width: 50%;
			text-align: start;
			padding-right: 2rem;
		}
		&--title {
			font: 700 36px "DM Sans", arial;
			color: $tc-first;
			@include miw-768 {
				font: 700 54px "DM Sans", arial;
				letter-spacing: -2%;
				line-height: auto;
			}
		}
		&--description {
			color: $tc-second;
			margin-top: 24px;
			font: 400 18px "DM Sans", arial;
			line-height: 30px;
			letter-spacing: -2%;
		}
		&--btn {
			margin-top: 60px;
			& > button {
				padding: 20px 40px;
				font: 700 18px "DM Sans", arial;
				line-height: 30px;
				letter-spacing: -2%;

				&:hover {
					background-color: $color-primary-2;
					transition: all 0.1s ease-in;
				}
				&:focus {
					outline: none;
					box-shadow: 0 0 0 3px $color-primary-2;
					background-color: $color-primary;
				}
			}
		}
	}

	&-right {
		@include flex;
		margin-top: 100px;
		width: 100%;
		@include miw-1024 {
			margin-top: 0;
			width: 50%;
		}
		&--image {
			width: 100%;
			max-width: 526px;
			border-radius: 0.5rem;
			height: auto;
		}
	}
	.container {
		@include container {
			flex-direction: column;
		}
		padding: 80px 16px;
		@include miw-768 {
			padding: 100px 20px;
		}
		@include miw-1024 {
			flex-direction: $flex-direction;
			padding: 140px 32px;
		}
	}
}

@mixin anime-nudge {
	@keyframes nudge {
		0%,
		100% {
			transform: translateY(0, 0);
		}

		50% {
			transform: translateY(10px);
		}

		80% {
			transform: translateY(-50px);
		}
	}
}
