header {
	position: relative;
	z-index: 3;
	width: 100%;
	background-color: $bg-light;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	height: 60px;
	@include miw-768 {
		flex-direction: row;
		height: 70px;
	}
	@include miw-1024 {
		height: 80px;
	}
	.container {
		@include container(space-between, center);
		padding: 1rem;
		flex-direction: row-reverse;
		@include miw-768 {
			flex-direction: row;
		}
		a {
			.logo {
				width: 10rem;
				cursor: pointer;
				&:hover {
					filter: grayscale(1);
					transform: scale(0.98);
					transition: transform 0.3s ease-in;
				}
			}
			@include miw-425 {
				display: block;
			}
		}

		nav {
			@include maw-768 {
				padding: 1rem;
				z-index: 3;
				position: absolute;
				background-color: $color-light;
				width: 75%;
				top: 55px;
				left: 0;
				height: 100vh;
				transform: translateX(-100%);
				transition: transform 0.3s ease-in-out;
			}
			@include miw-768 {
				position: static;
				width: auto;
				background-color: transparent;
				padding: 0;
				left: none;
				height: auto;
			}
			#menu-list {
				@include flex(space-between);
				gap: 1rem;
				& > li.active > a {
					&:not(.btn):after {
						content: "";
						position: absolute;
						bottom: 0;
						border-radius: 1rem;
						left: 0;
						width: 100%;
						height: 4px;
						background-color: $color-primary;
					}
				}
				& > li > a {
					display: block;
					padding: 1rem 0;
					color: $tc-first;
					font: 700 1rem "DM Sans", arial;
					position: relative;

					&:not(.btn)::before {
						content: "";
						position: absolute;
						border-radius: 1rem;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 4px;
						background-color: $color-primary;
						transform-origin: right;
						transform: scaleX(0);
						transition: transform 0.3s ease-in-out;
					}
					&:hover:not(.btn)::before {
						transform-origin: left;
						transform: scaleX(1);
					}
				}
				& > li > a.btn {
					@include maw-768 {
						width: 7rem;
						text-align: center;
					}
					cursor: pointer;
					border: none;
					padding: 0.5rem 1rem;
					margin: 0;
					border-radius: 0.5rem;
					font-weight: 500;
					color: $color-dark;
					&-primary {
						background-color: $color-primary;
						&:hover {
							background-color: $color-primary-2;
							transition: all 0.3s ease-in;
						}
						&:focus {
							outline: none;
							box-shadow: 0 0 0 3px $color-primary-2;
							background-color: $color-primary;
						}
					}
					&-secondary {
						background-color: $color-secondary;
						&:hover {
							background-color: $color-secondary-2;
							transition: all 0.3s ease-in;
						}
						&:focus {
							outline: none;
							box-shadow: 0 0 0 3px $color-secondary-2;
							background-color: $color-secondary;
						}
					}
				}
				@include maw-768 {
					@include flex(flex-start, flex-start) {
						flex-direction: column;
					}
				}
				@include miw-768 {
					@include flex {
						flex-direction: row;
					}
				}
			}
		}

		.hamburger {
			cursor: pointer;
			width: 2rem;
			height: 2rem;
			@include flex(space-between) {
				flex-direction: column;
			}
			&-item {
				background-color: $color-secondary;
				width: 100%;
				height: 5px;
				border-radius: 4px;
				transition: all 0.3s ease-in;
			}
			@include miw-768 {
				display: none;
			}
		}
		.show {
			& > .hamburger-item {
				width: 50.911px;
				&:nth-child(1) {
					transform: rotate(45deg);
					transform-origin: 7px 10px;
				}
				&:nth-child(2) {
					transform: translateX(-2rem);
					opacity: 0;
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
					transform-origin: 7px -5.5px;
				}
			}
		}
	}
}
