@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", Arial;
  font-size: 18px;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper-navbar {
  position: relative;
  top: 0;
  left: 0;
  filter: blur(16px);
  height: 100vh;
  width: 100wh;
  z-index: 999;
  transition: all 0.5s ease-out;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 0.5rem;
  font-weight: 500;
  color: #1e1e1e;
}
.btn-primary {
  background-color: #ffe162;
}
.btn-secondary {
  background-color: #91c483;
}

header {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  height: 60px;
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: 80px;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: inherit;
  padding: 1rem;
  flex-direction: row-reverse;
}
@media screen and (min-width: 1024px) {
  header .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 768px) {
  header .container {
    flex-direction: row;
  }
}
header .container a .logo {
  width: 10rem;
  cursor: pointer;
}
header .container a .logo:hover {
  filter: grayscale(1);
  transform: scale(0.98);
  transition: transform 0.3s ease-in;
}
@media screen and (min-width: 425px) {
  header .container a {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header .container nav {
    padding: 1rem;
    position: absolute;
    background-color: #eeeeee;
    width: 75%;
    top: 55px;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}
@media screen and (min-width: 768px) {
  header .container nav {
    position: static;
    width: auto;
    background-color: transparent;
    padding: 0;
    left: none;
    height: auto;
  }
}
header .container nav #menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header .container nav #menu-list > li.active > a:not(.btn):after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 1rem;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffe162;
}
header .container nav #menu-list > li > a {
  display: block;
  padding: 1rem 0;
  color: #434343;
  font: 700 1rem "DM Sans", arial;
  position: relative;
}
header .container nav #menu-list > li > a:not(.btn)::before {
  content: "";
  position: absolute;
  border-radius: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffe162;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header .container nav #menu-list > li > a:hover:not(.btn)::before {
  transform-origin: left;
  transform: scaleX(1);
}
header .container nav #menu-list > li > a.btn {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 0.5rem;
  font-weight: 500;
  color: #1e1e1e;
}
@media screen and (max-width: 768px) {
  header .container nav #menu-list > li > a.btn {
    width: 7rem;
    text-align: center;
  }
}
header .container nav #menu-list > li > a.btn-primary {
  background-color: #ffe162;
}
header .container nav #menu-list > li > a.btn-primary:hover {
  background-color: #e8bc4d;
  transition: all 0.3s ease-in;
}
header .container nav #menu-list > li > a.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px #e8bc4d;
  background-color: #ffe162;
}
header .container nav #menu-list > li > a.btn-secondary {
  background-color: #91c483;
}
header .container nav #menu-list > li > a.btn-secondary:hover {
  background-color: #cad182;
  transition: all 0.3s ease-in;
}
header .container nav #menu-list > li > a.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px #cad182;
  background-color: #91c483;
}
@media screen and (max-width: 768px) {
  header .container nav #menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  header .container nav #menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
header .container .hamburger {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header .container .hamburger-item {
  background-color: #91c483;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in;
}
@media screen and (min-width: 768px) {
  header .container .hamburger {
    display: none;
  }
}
header .container .show > .hamburger-item {
  width: 50.911px;
}
header .container .show > .hamburger-item:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 7px 10px;
}
header .container .show > .hamburger-item:nth-child(2) {
  transform: translateX(-2rem);
  opacity: 0;
}
header .container .show > .hamburger-item:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 7px -5.5px;
}

.hero {
  background-color: #eeeeee;
}
.hero-left {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero-left {
    width: 50%;
    text-align: start;
    padding-right: 2rem;
  }
}
.hero-left--title {
  font: 700 36px "DM Sans", arial;
  color: #434343;
}
@media screen and (min-width: 768px) {
  .hero-left--title {
    font: 700 54px "DM Sans", arial;
    letter-spacing: -2%;
    line-height: auto;
  }
}
.hero-left--description {
  color: #8a8a8a;
  margin-top: 24px;
  font: 400 18px "DM Sans", arial;
  line-height: 30px;
  letter-spacing: -2%;
}
.hero-left--btn {
  margin-top: 60px;
}
.hero-left--btn > button {
  padding: 20px 40px;
  font: 700 18px "DM Sans", arial;
  line-height: 30px;
  letter-spacing: -2%;
}
.hero-left--btn > button:hover {
  background-color: #e8bc4d;
  transition: all 0.1s ease-in;
}
.hero-left--btn > button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #e8bc4d;
  background-color: #ffe162;
}
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .hero-right {
    margin-top: 0;
    width: 50%;
  }
}
.hero-right--image {
  -webkit-animation: nudge 5s linear infinite alternate;
          animation: nudge 5s linear infinite alternate;
  width: 100%;
  max-width: 526px;
  border-radius: 0.5rem;
  height: auto;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  height: inherit;
  padding: 80px 16px;
}
@media screen and (min-width: 1024px) {
  .hero .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding: 100px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .hero .container {
    flex-direction: row;
    padding: 140px 32px;
  }
}

@-webkit-keyframes nudge {
  0%, 100% {
    transform: translateY(0, 0);
  }
  50% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-50px);
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translateY(0, 0);
  }
  50% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-50px);
  }
}
.aboutus {
  background-color: #ffe162;
  border-start-start-radius: 3rem;
  border-start-end-radius: 3rem;
  position: relative;
}
@media screen and (min-width: 425px) {
  .aboutus {
    border-start-start-radius: 3rem;
    border-start-end-radius: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .aboutus {
    border-start-start-radius: 6rem;
    border-start-end-radius: 6rem;
  }
}
.aboutus::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}
.aboutus-left {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .aboutus-left {
    width: 50%;
    text-align: start;
    padding-left: 2rem;
  }
}
.aboutus-left--title {
  font: 700 36px "DM Sans", arial;
  color: #434343;
}
@media screen and (min-width: 768px) {
  .aboutus-left--title {
    font: 700 54px "DM Sans", arial;
    letter-spacing: -2%;
    line-height: auto;
  }
}
.aboutus-left--description {
  color: #8a8a8a;
  margin-top: 24px;
  font: 400 18px "DM Sans", arial;
  line-height: 30px;
  letter-spacing: -2%;
}
.aboutus-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .aboutus-right {
    margin-top: 0;
    width: 50%;
  }
}
.aboutus-right--image {
  width: 100%;
  max-width: 526px;
  border-radius: 0.5rem;
  height: auto;
}
.aboutus .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  height: inherit;
  padding: 80px 16px;
}
@media screen and (min-width: 1024px) {
  .aboutus .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 768px) {
  .aboutus .container {
    padding: 100px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .aboutus .container {
    flex-direction: row-reverse;
    padding: 140px 32px;
  }
}

.ourfeature {
  background-color: #eeeeee;
  border-start-start-radius: 3rem;
  border-start-end-radius: 3rem;
  position: relative;
}
@media screen and (min-width: 425px) {
  .ourfeature {
    border-start-start-radius: 3rem;
    border-start-end-radius: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .ourfeature {
    border-start-start-radius: 6rem;
    border-start-end-radius: 6rem;
  }
}
.ourfeature::after, .ourfeature::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe162;
}
.ourfeature::after {
  top: 0;
}
.ourfeature::before {
  bottom: 0;
}
.ourfeature-left {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .ourfeature-left {
    width: 50%;
    text-align: start;
    padding-right: 2rem;
  }
}
.ourfeature-left--title {
  font: 700 36px "DM Sans", arial;
  color: #434343;
}
@media screen and (min-width: 768px) {
  .ourfeature-left--title {
    font: 700 54px "DM Sans", arial;
    letter-spacing: -2%;
    line-height: auto;
  }
}
.ourfeature-left--description {
  color: #8a8a8a;
  margin-top: 24px;
  font: 400 18px "DM Sans", arial;
  line-height: 30px;
  letter-spacing: -2%;
}
.ourfeature-left--btn {
  margin-top: 60px;
}
.ourfeature-left--btn > button {
  padding: 20px 40px;
  font: 700 18px "DM Sans", arial;
  line-height: 30px;
  letter-spacing: -2%;
}
.ourfeature-left--btn > button:hover {
  background-color: #e8bc4d;
  transition: all 0.1s ease-in;
}
.ourfeature-left--btn > button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #e8bc4d;
  background-color: #ffe162;
}
.ourfeature-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .ourfeature-right {
    margin-top: 0;
    width: 50%;
  }
}
.ourfeature-right--image {
  width: 100%;
  max-width: 526px;
  border-radius: 0.5rem;
  height: auto;
}
.ourfeature .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  height: inherit;
  padding: 80px 16px;
}
@media screen and (min-width: 1024px) {
  .ourfeature .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 768px) {
  .ourfeature .container {
    padding: 100px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .ourfeature .container {
    flex-direction: row;
    padding: 140px 32px;
  }
}/*# sourceMappingURL=main.css.map */