$bg-primary: #ffe162;
$bg-secondary: #91c483;
$bg-light: #eeeeee;
$bg-dark: #1e1e1e;

$color-primary: #ffe162;
$color-secondary: #91c483;
$color-light: #eeeeee;
$color-dark: #1e1e1e;

$tc-first: #434343;
$tc-second: #8a8a8a;
$tc-third: #bababa;

$font-family: "DM Sans", Arial;
